# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
.venv/
env/
ENV/

# Base de datos y backups
*.sqlite3
*.db
backups/

# Frontend / JS
node_modules/
dist/
build/
.npm/

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store

# Logs
logs/
*.log
